# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

Makefile
pet_game
.qmake.qstash
.qmake.stash
qrc_*.cpp
*.ko
*.mod.*
kernel_module/modules.order
kernel_module/Module.symvers
kernel_module/.kscreensaverlauncher*
pet_game_screensaver

.qtc_clangd/
.vscode/
Makefile.Debug
Makefile.Release
debug/
release/